force-app/main/default/flows/SUB_FLOW_NNNN_Fetch_Quote_With_Quote_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Quote_Detail</name>
        <label>Fetch Quote Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ECOM_QuoteDocumentUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>varDocumentId</name>
            <value>
                <elementReference>Get_Document_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ECOM_QuoteDocumentUtil</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>quoteDocumentResponse</assignToReference>
            <name>responseJSON</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fetch_Quote_With_Quote_Lines</name>
        <label>Fetch Quote With Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ECOM_QuoteUtil</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>varContactId</name>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varQuoteWorkflowType</name>
            <value>
                <elementReference>varQuoteWorkflowType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ECOM_QuoteUtil</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>quoteWrapperResponse</assignToReference>
            <name>responseJSONList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QuoteLine_Wrapper_to_QuoteLine_WrapperList</name>
        <label>Add QuoteLine Wrapper to QuoteLine WrapperList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineWrapperList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineWrapperRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_To_Quote_Line_Wrapper_Record</name>
        <label>Assign Quote Line To Quote Line Wrapper Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineWrapperRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Quote_Lines.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QuoteLine_Wrapper_to_QuoteLine_WrapperList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Quote_Wrapper</name>
        <label>Populate Quote Wrapper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteWrapperRecord.Lines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineWrapperList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteWrapperRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Record.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Document_Status_Not_Present_Response</name>
        <label>Update Document Status Not Present Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputDocumentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Document_Status_Response</name>
        <label>Update Document Status Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputDocumentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_Contact_Id_Exist</name>
        <label>Decide Contact Id Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Quote_With_Quote_Lines</targetReference>
            </connector>
            <label>Contact Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Quote_Id_Exist</name>
        <label>Decide Quote Id Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteIdExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Document_Record</targetReference>
            </connector>
            <label>Quote Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Quote_WorkFlow_Type</name>
        <label>Decide Quote WorkFlow Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_With_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteWorkflowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote With Lines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Contact_Id_Exist</targetReference>
            </connector>
            <label>Quote With Lines</label>
        </rules>
        <rules>
            <name>Get_Quote_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteWorkflowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Quote_Id_Exist</targetReference>
            </connector>
            <label>Get Quote Document</label>
        </rules>
        <rules>
            <name>Get_Single_Quote_With_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteWorkflowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Quote With Lines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecideQuoteIdExist</targetReference>
            </connector>
            <label>Get Single Quote With Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecideQuoteDocumentExistAndStatusRequested</name>
        <label>Decide Quote Document Exist And Status Requested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Document_Pdf_Exist_and_Status_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Document_Record.SBQQ__DocumentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocumentStatusRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Document_Status_Response</targetReference>
            </connector>
            <label>Document Pdf Exist and Status Required</label>
        </rules>
        <rules>
            <name>Document_Pdf_Not_Exist_and_Status_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Document_Record.SBQQ__DocumentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocumentStatusRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Document_Status_Not_Present_Response</targetReference>
            </connector>
            <label>Document Pdf Not Exist and Status Requested</label>
        </rules>
        <rules>
            <name>Document_Pdf_Exist_But_Status_Not_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Document_Record.SBQQ__DocumentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocumentStatusRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Record</targetReference>
            </connector>
            <label>Document Pdf Exist But Status Not Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecideQuoteIdExist</name>
        <label>Decide Quote Id Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Record</targetReference>
            </connector>
            <label>Quote Id Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FetchQuoteQuery</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, SBQQ__ExpirationDate__c, SBQQ__Primary__c, SBQQ__NetAmount__c, &quot; &amp;
&quot;SBQQ__LineItemCount__c, SBQQ__Status__c, CreatedDate, fxFreightDisplayedAmount__c, &quot; &amp;
&quot;TotalTax__c, fxGrand_Total__c, Total_Discount__c, Country_List_Price_Total__c, &quot; &amp;
&quot;SBQQ__Opportunity2__r.Sold_To_ERP_Address__r.fxAddressFull__c, &quot; &amp;
&quot;SBQQ__Opportunity2__r.Payer_ERP_Address__r.fxAddressFull__c &quot; &amp;
&quot;FROM SBQQ__Quote__c &quot; &amp;
&quot;WHERE Id = &apos;&quot; &amp; {!varQuoteId} &amp; &quot;&apos; &quot; &amp;
&quot;LIMIT 1&quot;</expression>
    </formulas>
    <interviewLabel>SUB.FLOW_NNNN: Fetch Quote With Quote Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB.FLOW_NNNN: Fetch Quote With Quote Lines</label>
    <loops>
        <name>Iterate_Over_Quote_Lines</name>
        <label>Iterate Over Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote_Line_To_Quote_Line_Wrapper_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_Quote_Wrapper</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Document_Record</name>
        <label>Get Document Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Quote_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Document_Record.SBQQ__DocumentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ContentType</queriedFields>
        <queriedFields>BodyLength</queriedFields>
        <queriedFields>Body</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Document_Record</name>
        <label>Get Quote Document Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecideQuoteDocumentExistAndStatusRequested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteDocument__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__DocumentId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <queriedFields>SBQQ__ListPrice__c</queriedFields>
        <queriedFields>SBQQ__NetPrice__c</queriedFields>
        <queriedFields>SBQQ__NetTotal__c</queriedFields>
        <queriedFields>SBQQ__ListTotal__c</queriedFields>
        <queriedFields>SBQQ__CustomerTotal__c</queriedFields>
        <queriedFields>Tax__c</queriedFields>
        <queriedFields>Freight__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Quote_WorkFlow_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cpqQuoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>outputDocumentStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteDocumentResponse</name>
        <apexClass>ECOM_QuoteDocumentFlowResponseWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLinesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineWrapperList</name>
        <apexClass>ECOM_QuoteLineWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineWrapperRecord</name>
        <apexClass>ECOM_QuoteLineWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>quoteWrapperRecord</name>
        <apexClass>ECOM_QuoteWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteWrapperResponse</name>
        <apexClass>ECOM_QuoteWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCPQQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varDocumentStatusRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varQuoteWorkflowType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
